{% extends 'master/base.html' %}

{% block blockname %}
            E-Learning | Home
{% endblock blockname %}


{% block content %}

<h1 class="m-5 text-center">Add Department Here</h1>

<form action="" method="POST">

    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Department Name</label>
        <input type="text" name="department_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <textarea name="description" class="form-control" id=""></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Department Head</label>
        <input type="text" name="department_head" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
    
{% endblock content %}
    